body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

.container {
    margin-top: 50px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.loading-container {
    margin-top: 20px;
}

.loading-image {
    max-width: 300px;
    margin-top: 20px;
    border-radius: 10px;
}

.final-image {
    transform: scale(0.75); /* Escala la imagen al 125% */
    margin-top: 20px;
    border-radius: 10px;
}


img {
    display: block;
    margin: 0 auto;
}
